@import './base.css';


input:focus,
select:focus,
textarea:focus,
button:focus,
.vue-tel-input,
.page-link:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.everything-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.color-theme {
    color: var(--theme-color);
}

.btn-theme {
    background-color: var(--theme-btn-color);
    color: #fff !important;
}

.btn-theme:disabled {
    background-color: var(--theme-btn-color);
}

.btn-theme:hover {
    background-color: var(--theme-btn-color-hover);
}

.bg-theme {
    background-color: var(--theme-color);
}

/* remove tiny mark at bottom left of textareas */
textarea {
    resize: none;
}

@media (min-width: 1024px) {}